.homescreen{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.imgHomeScreenLogo{
    display: flex;
    width: 100%;

}
.introHomeScreen{
    width: 100%;
    background-color: linear-gradient(#79e9e0,#ffffff);
}
.imgDiv{
    width: 50%;
    padding: 40px 150px;
    padding-top: 55px;
}
.introPart{
    width: 50%;
    padding: 40px 100px;
}
.labLogoHomeScreen{
    width: 500px;
    height: 300px;
    border-radius: 5px;
}
.titleMini{
    font-size: 24px;
}
.titleMajor{
    font-size: 32px;
    margin-bottom: 20px;
}
.descriptionone{
    margin-bottom: 20px;
}
.topbuttondiv{
    display: flex;
    margin-top: 20px;
}
.btndiv{
    width: 120px;
    border: 1px solid black;
    font-size: 18px;
    margin-right: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 30px;
    cursor: pointer;
    background: linear-gradient(#3ac6bc 0 0) var(--p,0) / var(--p,0) no-repeat;
    transition: 0.8s, background-position 0s;
    cursor: pointer;
}
.btndiv:hover{
    background-color: rgb(12, 187, 187);
    --p : 100%;
    color: #fff;
}

.testHomeScreen{
    width: 100%;
    border-top:1px solid rgb(184, 229, 229);
    display: flex;
}
.leftPartTest{
    width: 25%;
    padding: 20px 20px 0px 20px;
}
.totalTest{
    font-size: 28px;
    padding-left: 10px;
}
.testNameDiv{
    border: 1px solid black;
    border: 1px solid rgb(184, 229, 229);
    height: 270px;
    overflow-y: auto;
}
.testNameTitle{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    border-bottom: 1px solid #3ac6bc;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(#3ac6bc 0 0) var(--p,0) / var(--p,0) no-repeat;
    transition: 0.8s, background-position 0s;
    cursor: pointer;
}
.testNameTitle:hover{
    background-color: rgb(12, 187, 187);
    --p : 100%;
    color: #fff;
}
.rightPartTest{
    padding-top: 20px;
    font-size: 28px;
    width: 75%;
    border: 1px solid rgb(184, 229, 229);
    padding-left: 10px;
}
.bottomrightPart{
    border-top: 1px solid rgb(184, 229, 229);
    padding-top: 20px;
    height: 250px;
    overflow-y: auto;
}
.topBottomRightPart{
    font-size: 16px;
}
.bottomBottomRightPart{
    display: flex;
}
.bBRightPartLeftSide{
    width: 40%;
    padding: 20px;
}
.bBRightPartRightSide{
    width: 60%;
    padding-top: 30px;
}
.detailsBlock{
    font-size: 16px;
    font-weight: 500;
}
.bBrightImage{
    width: 70%;
    border-radius: 5px;
}
.spanColorChange{
    color:  rgb(38, 158, 158);
}
.activeNavLink{
    background-color: #3ac6bc;
}
.contectHomeScreen{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 50px;
    background-image: linear-gradient(#d7f1ef,#ffffff);
}
.inputFields{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.inputFeildBox{
    height: 20px;
    border: 1px solid #3ac6bc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.inputFeildBox:focus{
    outline: none;
}
.inputFeildBox::placeholder{
    font-size: 16px;
    color: #3ac6bc;
}
.inputTextAreaMessage{
    padding: 10px;
    border: 1px solid #3ac6bc;
}
.inputTextAreaMessage:focus{
    outline: none;
}
.inputTextAreaMessage::placeholder{
    color:#3ac6bc ;
}
.contactFormTitle{
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
}
.sendEmailButton{
    width: 30%;
    border: 3px solid #3ac6bc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 20px;
    font-weight: 600;
    background: linear-gradient(#3ac6bc 0 0) var(--p,0) / var(--p,0) no-repeat;
    transition: 0.8s, background-position 0s;
    cursor: pointer;
}
.sendEmailButton:hover{
    background-color: rgb(12, 187, 187);
    --p : 100%;
    color: #fff;
}